body, html {
  height: 100%;
  margin: 0;
}

div#toolbox {
  padding: 5px;
}

div#mainwindow {
  top: 50px;
  bottom: 10px;
  left: 0;
  right: 0;
  background: grey;
  position: absolute;
}

div#textwidget {
  background-color: black;
  color: #BBB;
  padding: 10px;
  top:10px;
  bottom:50px;
  left: 10px;
  right: 10px;
  position: absolute;
}

body.battle div#textwidget {
  right: auto;
  width: 850px;
}

.footerline {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 30px;
}
#text {
  background-color: white;
  font-size: 16px;
  height: 25px;
  border: 0 none;
  width: 100%
}

div.xmud-heatbar {
   overflow: hidden;
}
div.xmud-speedbar {
   overflow: hidden;
}

div.xmud-mapview {
  overflow: hidden;
  z-index: 10;
}

div.xmud-mapview canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

div.xmud-textview {
  font-family: Andale Mono, Courier, Fixed, monospace;
  overflow-y: scroll;
  white-space: pre-wrap;
}


.hud {
  display: none;
}
body.battle .hud {
  display: block;
}

#map {
  position: absolute;
  top: 60px;
  right: 10px;
  left: 970px;
  bottom: 330px;
  background-color: blue;
}
#heatbar {
  position: absolute;
  width: 40px;
  top: 60px;
  left: 890px;
  bottom: 330px;
  background-color: green;
}
#speedbar {
  position: absolute;
  width: 40px;
  top: 60px;
  left: 930px;
  bottom: 330px;
  background-color: yellow;
}
#weapons {
  position: absolute;
  left: 890px;
  width: 400px;
  bottom: 60px;
  height: 270px;
  background-color: brown;
}
#contacts {
  position: absolute;
  left: 1290px;
  right: 10px;
  bottom: 60px;
  height: 270px;
  background-color: pink;
}


#dialog-settings label {
  display: inline-block;
  width: 130px;
}

#dialog-settings div.display {
  display: inline-block;
  margin-left: 10px;
  width: 50px;
}

#dialog-settings input {
  width: 300px;
}
#dialog-settings select {
   width: 300px;
}

#dialog-settings textarea {
   width: 430px;
}
