body, html {
  height: 100%;
  margin: 0;
}

div#toolbox {
  padding: 5px;
}

div#mainwindow {
  top: 50px;
  bottom: 10px;
  left: 0;
  right: 0;
  background: grey;
  position: absolute;
}

div.lrflex {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
} 

div.tbflex {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

div.mapheight {
  flex:3;
}

div.contactheight {
  flex:1;
}
 
div#maincontent {
  top:10px;
  bottom:50px;
  left: 10px;
  right: 10px;
  position: absolute;
}

div#textwidget {
  background-color: black;
  color: #BBB;
  padding: 10px;
  flex: 1;
}

body.battle div#textwidget {
  width: 55em;
  flex: unset;
}

div.hudgroup {
  display: none;
  margin-left: 5px;
}

body.battle div.hudgroup {
  flex: 1;
  display: flex;
}

.footerline {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 30px;
}
#text {
  background-color: white;
  font-size: 16px;
  height: 25px;
  border: 0 none;
  width: 100%
}

div.hud {
  position: relative;
  overflow: hidden;
}
div.hud canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

div.xmud-textview {
  font-family: Andale Mono, Courier, Fixed, monospace;
  overflow-y: scroll;
  white-space: pre-wrap;
}


#map {
  flex: 1;
  background-color: blue;
}
#heatbar {
  width: 40px;
  background-color: green;
}
#speedbar {
  width: 40px;
  background-color: yellow;
}
#weapons {
  width: 400px;
  flex: 3;
  background-color: brown;
}
#contacts {
  flex: 5;
  background-color: pink;
}


#dialog-settings label {
  display: inline-block;
  width: 130px;
}

#dialog-settings div.display {
  display: inline-block;
  margin-left: 10px;
  width: 50px;
}

#dialog-settings input {
  width: 300px;
}
#dialog-settings select {
   width: 300px;
}

#dialog-settings textarea {
   width: 430px;
}
